body {
font-family: 'Poppins', sans-serif;
}

h1 {
text-align: center;
font-weight: 200;
font-size: 1.5em;
}

h2 {
text-align: center;
font-size: 1.5em;
transform:translate(0px, -25px);
}

p {
text-align: center;
font-size: 0.75em;
color:hsl(229, 6%, 66%)
}

#light {
font-size 10px;
font-weight: 300;
}